<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanxiang.recommandationapp"
    android:versionCode="1"
    android:versionName="0.2.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wanxiang.recommandationapp.ui.SplashActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanxiang.recommandationapp.ui.AccountProvisionActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.MainFragmentsActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:label="@string/main_action_bar_name"
            android:logo="@drawable/ic_launcher"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.CategoryDetailsActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.EntityDetailsActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.CommentsActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.MyProfileActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.PublishRecommendationActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.MatchNeedListActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wanxiang.recommandationapp.ui.login.LoginActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name="com.wanxiang.recommandationapp.service.friends.UploadContactService"
            android:exported="false" >
        </service>
    </application>

</manifest>